<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Page</title>
    </head>
    <body>
        {% extends "layout.html" %}
        {% block content %}
        
            
            <div class ="flex-container">

                <div class = "left-group">
                    <a href="{{ url_for('change_current_vessel') }}">
                        <div class = "vessel-name-num">
                            <h1>{{num}}</h1>
                            <p><b>Vessel: {{selected_vessel}}</b></p>
                            
                        </div>
                    </a>
                    {% if current_vessel_values %}
                    <a href="{{ url_for('delete_recent') }}">
                        <div class="num-display">
                            <p>PI Upper: <b>{{current_vessel_values[0]}}</b></p>
                            <p>PI Lower: <b>{{current_vessel_values[1]}}</b></p>
                            <p>VF Upper: <b>{{current_vessel_values[2]}}</b></p>
                            <p>VF Lower: <b>{{current_vessel_values[3]}}</b></p>
                        </div>
                    </a>
                    
                    {% endif %}
                    <form id="confirm" method="POST" action="/confirm_data">
                        <input id="confirm_value" type="submit" value="Confirm Value">
                    </form>
                    <form method="POST" action="/read_data">
                        <input id="redo_value" type="submit" value="Reload Value">
                    </form>
                    <form method="POST" action="/monophasic_form">
                        <input id="flat_reading" type="submit" value="Monophasic Wave Form">
                    </form>
                </div>
                <div class = "mid-group"></div>
                <div class = "right-group">
                    <form method="post" action="{{url_for('confirm_value')}}">
                        <input type="text"  id="new_value" name="new_value">                 
                        <input type="submit" value="Enter New Value">
                      </form>
                    
                    <div class="button-array">
                        <input type="button" value="1" id="button_one"/>
                        <input type="button" value="2" id="button_two"/>
                        <input type="button" value="3" id="button_three"/>
                        <input type="button" value="4" id="button_four"/>
                        <input type="button" value="5" id="button_five"/>
                        <input type="button" value="6" id="button_six"/>
                        <input type="button" value="7" id="button_seven"/>
                        <input type="button" value="8" id="button_eight"/>
                        <input type="button" value="9" id="button_nine"/>
                        <input type="button" value="0" id="button_zero"/>
                        <input type="button" value="." id="button_dot"/>
                        <input type="button" value="D" id="button_del"/>
                    </div>
                </div>
                
        </div>
        <script>
            document.addEventListener("keydown", function(event) {
              if (event.key === "l") {
                document.getElementById("confirm_value").click();
              }
            });
            document.addEventListener("keydown", function(event) {
              if (event.key === "k") {
                document.getElementById("redo_value").click();
              }
            });
            document.addEventListener("keydown", function(event) {
              if (event.key === "j") {
                document.getElementById("flat_reading").click();
              }
            });
            document.addEventListener("keydown", function(event) {
              if (event.key === "k") {
                document.getElementById("redo_value").click();
              }
            });
            document.getElementById("button_one").addEventListener('click', function () {
                var text = document.getElementById('new_value');
                text.value += '1';
            });
            document.getElementById("button_two").addEventListener('click', function () {
                var text = document.getElementById('new_value');
                text.value += '2';
            });
            document.getElementById("button_three").addEventListener('click', function () {
                var text = document.getElementById('new_value');
                text.value += '3';
            });
            document.getElementById("button_four").addEventListener('click', function () {
                var text = document.getElementById('new_value');
                text.value += '4';
            });
            document.getElementById("button_five").addEventListener('click', function () {
                var text = document.getElementById('new_value');
                text.value += '5';
            });
            document.getElementById("button_six").addEventListener('click', function () {
                var text = document.getElementById('new_value');
                text.value += '6';
            });
            document.getElementById("button_seven").addEventListener('click', function () {
                var text = document.getElementById('new_value');
                text.value += '7';
            });
            document.getElementById("button_eight").addEventListener('click', function () {
                var text = document.getElementById('new_value');
                text.value += '8';
            });
            document.getElementById("button_nine").addEventListener('click', function () {
                var text = document.getElementById('new_value');
                text.value += '9';
            });
            document.getElementById("button_zero").addEventListener('click', function () {
                var text = document.getElementById('new_value');
                text.value += '0';
            });
            document.getElementById("button_dot").addEventListener('click', function () {
                var text = document.getElementById('new_value');
                text.value += '.';
            });
            document.getElementById("button_del").addEventListener('click', function () {
                var text = document.getElementById('new_value');
                var newValue = text.value.slice(0, -1);
                text.value = newValue;
            });
        </script>

        
        {% endblock %}

      
    </body>
</html>
